<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geek4s.tripnotes">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ShowMorePeopleViewActivity"></activity>
        <activity android:name=".help.HelpActivity"></activity>
        <activity android:name=".graph.BarChartActivity"></activity>
        <activity android:name=".help.OtherApps"></activity>
        <activity android:name=".help.ShowHelpActivity"></activity>
        <activity android:name=".help.ShowHelpActivityTrip"></activity>
        <activity android:name=".help.ShowHelpActivityPeople"></activity>
        <activity android:name=".help.ShowHelpActivitySpent"></activity>
        <activity android:name=".start.StartActivity">

        </activity>
    </application>

</manifest>